.cart-btn{
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}

.cart{
    font-size: 30px;
    color: white;
}

.count{
    font-size: 1.2rem;
    color: white;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
    background-color:#00a950;
    display: flex;
    justify-content: center;
    align-items: center;
}