header{
    position: relative;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px 30px 200px;
    z-index: 1100;
}

.logo{
    font-size: 25px;
    color: white;
    letter-spacing: 2px;
    font-weight: 800;
}

.nav{
    display: flex;
}

.nav li{
    list-style: none;
    margin-left: 0px 10px;
}

.nav li a{
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.3s;
}

.nav li a:hover, .nav li a.active{
    color: var(--primary-color);
}


.features{
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 768px){
    header{
        padding: 10px 50px;
    }
    .nav{
        display: none;
    }
}